* {
	box-sizing: border-box;
}

/**:hover {
	box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.2);
}*/

body {
	cursor: pointer;
}

.is-selected {
	box-shadow: 0px 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.ui-wrap {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #E53935;
	color: white;
	font-size: 20px;
	border: 2px solid rgba(0,0,0,0.15);
	box-shadow: 0 -2px 2px rgba(0,0,0,.2);
	bottom: -100px;
	font-family: Helvetica, Arial;
	transition: bottom 0.25s ease 0.4s;
}
.is-loaded .ui-wrap {
	bottom: 0;
}
.ui-wrap h3 {
	color: rgba(0, 0, 0, 0.5);
	margin: 30px 0;
}
.ui-wrap a {
	color: rgba(0, 0, 0, 0.4);
}
.ui-wrap code {
	color: rgba(0, 0, 0, 0.5);
}
.ui-wrap li {
	list-style: none;
}
.command-input, .command-suggestion {
	background: transparent;
	font-size: 24px;
	padding: 10px;
	border: 0;
	color: white;
	width: 99vw;
}
.command-suggestion {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.5;
	z-index: -1;
	pointer-events: none;
	outline: 0;
}

.code-wrap {
	position: fixed;
	top: 40px;
	bottom: 40px;
	left: 40px;
	right: 40px;
	background: white;
	box-shadow: 0 0px 0px 40px rgba(255, 255, 255, 0.9);
	border: 1px solid #CCC;
	visibility: hidden;
	opacity: 0;
	transform: scale(1.2);
	transition: 0.25s ease;
}

.code-wrap.show {
	visibility: visible;
	opacity: 1;
	transform: scale(1);
}
::-webkit-input-placeholder {
   color: rgba(255,255,255,0.5);
}
.about-wrap {
	position: fixed;
	left: 0; right: 0;
	top: 0; bottom: 0;
	background: mediumpurple;
	text-align: center;
	-webkit-clip-path: circle(0px at right 60px bottom 100px);
	-webkit-clip-path: circle(30px at right 60px bottom 100px);
	clip-path: circle(30px at right 60px bottom 100px);
	transition: 0.3s ease-out;
}
.is-loaded .about-wrap {
	/*transition: 0.4s cubic-bezier(.71,1.7,.77,1.24) 0.4s;*/
}
.about-wrap.is-open {
	transition: 0.3s ease-out;
	-webkit-clip-path: circle(150vw at right 60px bottom 100px);
	clip-path: circle(150vw at right 60px bottom 100px);
}
.about-btn, .about-close-btn {
	border-radius: 50%;
	width: 60px;
	height: 60px;
	position: absolute;
	right: 30px;
	bottom: 70px;
	text-align: center;
	line-height: 60px;
	font-size: 30px;
	transition: 0.3s ease;
	/*border: 1px solid rgba(255,255,255,0.9);*/
}
.about-close-btn {
	opacity: 0;
	visibility: hidden;
}
.about-wrap.is-open .about-btn {
	opacity: 0;
	visibility: hidden;
}
.about-wrap.is-open .about-close-btn {
	opacity: 1;
	visibility: visible;
}
